*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart{
    background-color: pink;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.heart::before{
    content:"";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 50%;
    top: -25px;
    left: 0;
}
div.heart::after{
    content:"";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 50%;
    top: 0;
    left: 25px;
}
@keyframes change{
    50%{
        background-color: pink;
    }
}
@keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }
